html, body {
  box-sizing: border-box;
}
p, h3, div,table, tr, td{
  padding: 0; margin: 0;
}
h1 {
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.periodic {
  box-sizing: border-box;
  table-layout: fixed;
  width: 990px;
  border-collapse: collapse;
}

tr {
  width: 1008px;
}

td.with-bo{
  border: 1px solid black;
}

td {
  box-sizing: border-box;
  text-align: center;

  width: 55px;
  height: 55px;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}
td .desc{
  font-size: .7rem;
  line-height: .7;
}
td .abbr {
  font-size: 1.3rem;
}

.cell-wrapper {
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.xsmall-desc {
 font-size: 7px !important;
}

.cell-wrapper h3.abbr{
  font-size: 1.3rem
}
.cell-wrapper p{
  font-size: .5rem;
}



.cell-wrapper .num {
  text-align: left;
  padding: 0 .3rem 0 .3rem;
}

/* cell colors */
.aesthetic {
  background-color: #fabed4;
}	

.audio {
  background-color: #FAC9A6; /* #f58231;*/
}

.custom {
  background-color: #ffe119;
}

.image {
  background-color: #f58231
}

.layer {
  background-color: palegreen;
}

.optimization {
  background-color: #ffd8b1;;
}

.photoshop {
  background-color: #FDF5E6;;
}

.resolution {
  background-color: #911eb4;
}

.size {
  background-color: #f032e6;
}

.place {
  background-color: #a9a9a9;
}
.sprite{
  background-color: #f2e4fa;
}
.style {
  background-color: #42d4f4;
}

.template {
  background-color: #fffac8;
}

.video {
  background-color: #cda4ff; /*#aaffc3;*/
}

.video-audio {
  background-color: #dcbeff;
}

.effect {
  background-color: #d3fdf8; /* #19f3db;*/
}

.resize {
  background-color: #f4ff6a; 
}

.attention {
  background-color: #DEB887
}

.legend {
 
  width: 1008px;
  margin: 1rem auto;
}
.legend-table {
    box-sizing: border-box;
  table-layout: fixed;
  width: 990px;
  border-collapse: collapse;
}
.legend td{
   border: 1px solid black;
  height: 60px;
  width: 60px;
  font-size: .8rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.legend-header{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 1rem auto;
}

